<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script type="text/javascript">
        $(function() {
            
            var $fish = $("#fish");
            $.ajax({
                type: 'GET',
                url: '/getAllFishData',
                success: function(fish) {
                    $.each(fish, function(i, f) {
                        $fish.append('<li>name: ' + f.commonName + '</li>')
                    });
                }
            });
        });

        $(function() {
            
            var $aquariums = $("#aquariums");
            $.ajax({
                type: 'GET',
                url: '/getAllAquariumData',
                success: function(aquariums) {
                    $.each(aquariums, function(i, aquarium) {
                        $aquariums.append('<li>name: ' + aquarium.name + '</li>')
                    });
                }
            });
        });
    </script>

</head>
    <title>Add Fish to Aquarium</title>
</head>
<body>
    <h1>Hello</h1>
    Select a Fish: <br>
    <ul id="fish"></ul> <br>
    Select an Aquarium: <br>
    <ul id="aquariums"></ul> <br>
</body>


</html>