<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script type="text/javascript">
        $(function() {
            
            var $fish = $("#fish");
            $.ajax({
                type: 'GET',
                url: '/getAllFishData',
                success: function(fish) {
                    $.each(fish, function(i, f) {
                        var name = f.commonName;
                        $fish.append("<option value=\"" + name + "\">" + name + "</option");
                    });
                }
            });
        });

        $(function() {
            
            var $aquariums = $("#aquariums");
            $.ajax({
                type: 'GET',
                url: '/getAllAquariumData',
                success: function(aquariums) {
                    $.each(aquariums, function(i, aquarium) {
                        var name = aquarium.name;
                        $aquariums.append("<option value=\"" + name + "\">" + name + '</option')
                    });
                }
            });
        });
    </script>

</head>
    <title>Add Fish to Aquarium</title>
</head>
<body>
    <h1>Hello</h1>
    <form action="/addFish" method="POST">
        Select a Fish Variety: <br>
        <select id="fish" name="variety"></select> <br>
        Type in a Quantity: <br>
        <input type="number" name="quantity"> <br>
        Select an Aquarium: <br>
        <select id="aquariums" name="name"></select> <br>
        <input type="submit" value="Submit">
    </form>
</body>


</html>